{% extends 'index1.html'%} {%block content %} {%load static%}
<!-- about section -->
<section class="about_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-7">
        <div class="img-box">
          <img src="{% static 'images/system_concept.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col-md-5 col-xl-5">
        <div class="detail_box">
          <div class="heading_container justify-content-end">
            <h2>About KCYE</h2>
          </div>
          <p>
            Agriculture is a vital part of the economy.Therefore being able to
            monitor conditions required for specific crops such as maize ,rice
            is important to achieve precision agriculture.There are many methods
            in existence today including traditional ones.Therefore being able
            to predict in advance makes it easier for the farmer to plan in
            advance and that goes hand in hand to ensuring that food security is
            achieved .In addition to that,we would have achieved an SGD in
            advance.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->{%endblock %}
